@model PartyApplication.Model.Account

@{
    ViewData["Title"] = "Profile Page";
}

<head>
    <meta charset="utf-8">
    <title>SocialSquare</title>
    <link href="~/css/getParty.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>

<h1 class="center">@Html.DisplayFor(model => model.Name)'s Profile</h1>

<div class="center">
    <hr />
    <dl class="main">
        <dt class="name">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="item">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="name">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="item">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="name">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class="item">
            @Html.DisplayFor(model => model.Host)
        </dd>
        <dt class="name">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class="item">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class="name">
            @Html.DisplayNameFor(model => model.Followers)
        </dt>
        <dd class="item">
            @foreach (String item in Model.Followers)
            {
                if (item != null)
                {
                    @Html.ActionLink(item, "GetAccount", "Account", new { id = item })<br />
                }
            }
        </dd>
        <dt class="name">
            @Html.DisplayNameFor(model => model.Following)
        </dt>
        <dd class="item">
            @foreach (String item in Model.Following)
            {
                if (item != null)
                {
                    @Html.ActionLink(item, "GetAccount", "Account", new { id = item })<br />
                }
            }
        </dd>
        @if (User.IsInRole("Host"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HostRating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HostRating)
            </dd>
        }
    </dl>
    </div>
    <div>


        <div class="menuButton">
            @if (User.Identity.Name == Model.Id)
            {
                @Html.ActionLink("Edit Account", "EditAccount", "Account", new { id = User.Identity.Name })
            }
        </div>
    </div>
    <div>
        <div class="menuButton">
            @if (User.Identity.Name == Model.Id)
            {
                @Html.ActionLink("View your events", "LinkPartiesById", "Event", new { hostName = Model.Username }, null)
            }
            else
            {
                @Html.ActionLink("View " + Model.Name + "'s events", "LinkPartiesById", "Event", new { hostName = Model.Username }, null)
            }
        </div>
    </div>
    @if (User.Identity.Name != Model.Id)
    {
        <div class="menuButton">
            @if (Model.Followers.Contains(User.Identity.Name))
            {
                <h4>@Html.ActionLink("Unfollow", "Unfollow", "Account", new { id = Model.Username }) @Html.DisplayFor(model => model.Name)</h4>
            }
            else
            {
                <h4>@Html.ActionLink("Follow", "Follow", "Account", new { id = Model.Username }) @Html.DisplayFor(model => model.Name)</h4>
            }
        </div>

        <div>
            <h4>Rate @Html.DisplayFor(model => model.Name)</h4>
        </div>
    }
</div>