@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SocialSquare</title>
    <link href="~/css/partyApplicationStyles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<header>
    <nav>
        <h2 class="logo-style">Social Square</h2>
        <ul class="navLinks">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink("Events", "Events", "Event")
                </li>
            }
            <li>
                @Html.ActionLink("Get Help!", "SubmitTicket", "Support")

            </li>
            <li>
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Login", "LoginPage", "Account");
                }
                else
                {
                    @Html.ActionLink("Account", "GetAccount", "Account", new { id = User.Identity.Name })
                }
            </li>
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Logout", "Logout", "Account");
                }
                else
                {
                    @Html.ActionLink("Create Account", "CreateAccount", "Account");
                }
            </li>
        </ul>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <h4>User: @Html.DisplayFor(user => Context.User.Identity.Name)</h4>
        }
    </nav>
</header>
<body>

    @RenderBody()
</body>
</html>
