@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Events";
}

@model IEnumerable<PartyApplication.Model.Event>
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/formStyles.css" rel="stylesheet" type="text/css">
    <link href="~/css/eventStyle.css" rel="stylesheet" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form">
        <h1 class="heading">Discover an Event!!</h1>
        <hr />
        <form method="post" action="/events">

            <li class="form-row">
                <label for="zipcode">Search By Zipcode:</label><br />
                <input type="text" id="zipcode" name="zipcode" /><br />
            </li>
            <li class="form-row">
                <button type="Submit">Submit</button>
            </li>
        </form>
    </div>
    <div class="menuButton createEvent">
        @Html.ActionLink("Make A New Event!", "CreateEvent", "Event")
    </div>

    <h1 class="heading"> Events near you!</h1>
@foreach (var item in Model)
{
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <td class="data">
                        
                            Name:
                        
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="data">
                        
                            Zip:
                        
                         @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td class="data">
                        
                            Location:
                        
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td class="data">
                        
                            Time:
                        
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    
                </tr>
                <tr>
                    <td class="options">
			            @Html.ActionLink("Details", "GetParty", "Event", new { id = item.Id }, null)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    }
</body>
</html>