@model IEnumerable<PartyApplication.Model.Event>

@{
    ViewData["Title"] = "GetParties";
}

<head>
    <link rel="stylesheet" href="~/css/partyStyle.css">
</head>

<h1>GetParties</h1>

@if (User.IsInRole("Host"))
   {
<p>
    <a href="/parties/createevent/">Host an Event</a>
</p>
   }

<table class="table">
    <thead>
        <tr>
            <th class="name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="zip">
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th class="location">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th class="time">
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="zip">
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td class="location">
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td class="time">
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td class="options">
                @Html.ActionLink("Details", "GetParty", "Event", new { id = item.Id }, null)

                @if (User.Identity.Name.Equals(item.HostUsername))
                {
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                    <a href="delete/@item.Id"> Delete </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
